#tituloProductos {
  margin-top: 70px;
  color: #F2F2F2;
  padding-top: 3em;
  text-align: center;
  font-family: "Raleway", sans-serif; }

#contenidoProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3em; }
  #contenidoProductos .producto {
    width: 15em;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    padding: 0.5em;
    text-align: center; }
  #contenidoProductos h5 {
    color: #0D0D0D;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600; }
  #contenidoProductos p {
    color: #F2F2F2;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 600; }
  #contenidoProductos .agregarProducto {
    background-color: #0D0D0D;
    color: #F2F2F2;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 12em;
    margin-top: 1em;
    box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325); }

#notificacionProductos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3em; }
  #notificacionProductos h2 {
    color: #0D0D0D;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 600; }
  #notificacionProductos h3 {
    color: #0D0D0D;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600; }

.amarrillo {
  background-color: #F2C12E;
  height: 55rem; }

.blanco {
  background-color: #F2F2F2;
  height: 55rem; }

.blancoDos {
  height: 150vh !important; }

.negro {
  background-color: #0D0D0D;
  height: 55rem; }

/* menu */
nav.navbar.navbar-expand-md.navbar-dark.fixed-top {
  background-color: #0D0D0D; }

a.navbar-brand {
  padding-left: 4em; }

div#navbarCollapse {
  flex-grow: 0;
  padding-right: 4em; }

.navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #F2F2F2 !important;
  text-transform: capitalize; }

/* header*/
.carousel {
  margin-bottom: 4rem; }

.carousel-caption.text-start {
  position: absolute;
  right: 15%;
  bottom: 0;
  top: 20em;
  left: 15%;
  padding-top: 0;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  z-index: 10; }
  .carousel-caption.text-start img {
    width: 20em;
    margin-bottom: 2em; }

.carousel-item {
  height: 50rem; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50rem; }

/* boton empecemos */
#cboton button {
  background-color: #F2F2F2;
  border: 0px solid transparent;
  width: 20rem;
  padding: 0.5em 0em;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem; }

#startForm {
  margin-top: 2em; }
  #startForm form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20em; }
    #startForm form input {
      background-color: #F2F2F2;
      border: 0px solid transparent;
      width: 20rem;
      padding: 0.5em 0em;
      border-radius: 5px;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 1rem;
      margin-bottom: 1em; }
    #startForm form button {
      background-color: #F2C12E;
      color: #0D0D0D;
      border: 0px solid transparent;
      width: 5rem;
      padding: 0.5em 0em;
      border-radius: 5px;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 1rem; }

#notificacion {
  color: #F2C12E;
  border: 0px solid transparent;
  width: 25rem;
  padding: 0.5em 0em;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 2em; }

#nosotros .row.cNosotros {
  padding: 10em 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }

#nosotros .cTextNosotros {
  padding: 0em 2em; }
  #nosotros .cTextNosotros .titleNosotros {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #0D0D0D; }
  #nosotros .cTextNosotros .parrafoNosotros {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #0D0D0D;
    line-height: 0.9;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.386); }

.cPerson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0em 1em; }

.imgPerson {
  width: 12em;
  border-radius: 100%; }

.nombrePerson {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #0D0D0D;
  font-size: 1rem;
  margin-top: 1em; }

.puestoPerson {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 1rem;
  color: #0D0D0D;
  font-weight: 700;
  margin-top: -1em;
  padding-bottom: 0.2em;
  border-bottom: 2px solid #F2F2F2; }

#packs .row {
  align-items: center; }

.titlePacks {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #0D0D0D;
  line-height: 0.9;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.386);
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 1em; }

#subtitlePacks {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #0D0D0D;
  line-height: 0.9;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.5em; }

.btnCrear {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }
  .btnCrear button.btn {
    background-color: #F2C12E;
    color: #0D0D0D;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 0.5em 0em;
    width: 12em;
    margin-top: 1em;
    box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325); }

#contenedorPacks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 5em; }

.cpack {
  background-color: #F2C12E;
  height: 18em;
  width: 12em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
  -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
  -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325); }

.nombreP {
  font-family: "Raleway", sans-serif;
  color: #0D0D0D;
  font-size: 2rem; }

.productosP {
  color: #F2F2F2;
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 6em; }

.precioP {
  font-family: "Noto Sans", sans-serif;
  color: #0D0D0D;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #F2F2F2;
  padding: 0.2em;
  border-radius: 5px;
  margin-top: 1.5em; }

.btnAgregarP {
  background-color: #0D0D0D;
  color: #F2F2F2;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 0.5em;
  width: 12em;
  margin-top: 1em;
  box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
  -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
  -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325); }

.cCarrito {
  color: red;
  height: 50em;
  margin-top: 8em; }

#packsCargados {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 1em; }

.cpack {
  background-color: #F2C12E;
  height: 18em;
  width: 12em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
  -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
  -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325); }

.nombreP {
  font-family: "Raleway", sans-serif;
  color: #0D0D0D;
  font-size: 2rem; }

.productosP {
  color: #F2F2F2;
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 6em; }

.precioP {
  font-family: "Noto Sans", sans-serif;
  color: #0D0D0D;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #F2F2F2;
  padding: 0.2em;
  border-radius: 5px;
  margin-top: 1.5em; }

.btnAgregarP {
  background-color: #0D0D0D;
  color: #F2F2F2;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 0.5em;
  width: 12em;
  margin-top: 1em;
  box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
  -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
  -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325); }

.cCarrito {
  color: red;
  height: 50em;
  margin-top: 8em; }

/* SERVICIOS */
#servicios .row {
  align-items: center; }

.cContendor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10em;
  padding: 0em 4em; }
  .cContendor .cardUno {
    background-color: #F2F2F2;
    box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    border-radius: 15px;
    width: 15em;
    height: 18em; }
  .cContendor .cardDos {
    background-color: #F2F2F2;
    box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    border-radius: 15px;
    width: 15em;
    height: 18em;
    margin-top: -4em; }
  .cContendor .cardTitulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2em; }
    .cContendor .cardTitulo img {
      width: 2rem;
      margin-right: 1em; }
    .cContendor .cardTitulo h2 {
      color: #F2C12E;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      margin-top: 0.5em;
      font-size: 2em; }
  .cContendor .text {
    font-family: "Noto Sans", sans-serif;
    padding: 0em 1em;
    margin-top: 3.5em; }

.cContendorDos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  padding: 0em 4em; }
  .cContendorDos .cardUno {
    background-color: #F2F2F2;
    box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    border-radius: 15px;
    width: 15em;
    height: 18em; }
  .cContendorDos .cardDos {
    background-color: #F2F2F2;
    box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.325);
    border-radius: 15px;
    width: 15em;
    height: 18em;
    margin-top: -4em; }
  .cContendorDos .cardTitulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2em; }
    .cContendorDos .cardTitulo img {
      width: 2rem;
      margin-right: 1em; }
    .cContendorDos .cardTitulo h2 {
      color: #F2C12E;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      margin-top: 0.5em;
      font-size: 2em; }
  .cContendorDos .text {
    font-family: "Noto Sans", sans-serif;
    padding: 0em 1em;
    margin-top: 3.5em; }

.cTextServicios {
  padding: 0em 4em; }
  .cTextServicios .titleServicios {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #0D0D0D; }
  .cTextServicios .parrafoServicios {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #0D0D0D;
    line-height: 0.9;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.386); }

/* TRABAJOS */
#trabajos {
  color: #F2F2F2; }
  #trabajos h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #F2F2F2;
    line-height: 0.9;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 0.5em;
    padding-top: 3em; }

#contenedorTrabajos {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6em; }
  #contenedorTrabajos img {
    width: 16rem;
    padding-right: 1em;
    border-right: 2px solid #F2C12E; }
  #contenedorTrabajos h3 {
    color: #F2C12E;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1.5em;
    font-family: "Raleway", sans-serif; }
  #contenedorTrabajos h2 {
    color: #F2F2F2;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    margin-top: -3em; }

#contenedorCliente {
  position: relative; }
  #contenedorCliente h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #F2F2F2;
    line-height: 0.9;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 0.5em;
    padding-top: 3em;
    margin-top: 3em; }

/* CONTACTO */
#contacto .row {
  align-items: center;
  padding-top: 8em; }

#contacto .form-label {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  color: #F2C12E; }

#contacto .form-control {
  border: 2px solid #F2C12E; }

#contacto .form-select {
  border: 2px solid #F2C12E; }

#contacto .btn {
  float: right;
  background-color: #0D0D0D;
  color: #F2C12E;
  width: 10em;
  font-family: "Raleway", sans-serif; }

#contacto .cTextNosotros {
  padding: 0em 2em; }
  #contacto .cTextNosotros .titleNosotros {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #0D0D0D; }
  #contacto .cTextNosotros .parrafoNosotros {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #0D0D0D;
    line-height: 0.9;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.386); }
