@import "./productos";
@import "./servicios";
@import "./contacto";
@import "./nosotros";
@import "./packs";
@import "./trabajos";
@import "./carrito";

$raleway: 'Raleway', sans-serif;
$noto: 'Noto Sans', sans-serif;
$negro: #0D0D0D;
$blanco: #F2F2F2;
$amarillo: #F2C12E;  

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $blanco !important;
    height: 100vh !important;
}

.amarrillo {
    background-color: $amarillo;
    height: 55rem;
}
.blanco{
    background-color: $blanco;
    height: 55rem;
}

.negro{
    background-color: $negro;
    height: 55rem;
}
.negroDos{
    background-color: $negro;
    height: 15rem;
}
/* menu */ 
nav.navbar.navbar-expand-md.navbar-dark.fixed-top{
    background-color: $negro;
}
a.navbar-brand{
    padding-left: 4em;
}
div#navbarCollapse{
    flex-grow: 0;
    padding-right: 4em;
}
.navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: $blanco !important;
    text-transform: capitalize;
}

/* header*/

.carousel {
    margin-bottom: 4rem;    
  }
  .carousel-caption.text-start {
    position: absolute;
    right: 15%;
    bottom: 0;
    top: 20em;
    left: 15%;
    padding-top: 0;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    z-index: 10;
    img{
        width: 20em;
        margin-bottom: 2em;
    }
}
  .carousel-item {
    height: 50rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 50rem;
  }

  /* boton empecemos */ 
  #cboton {
      button{
          background-color: $blanco;
          border: 0px solid transparent;
          width: 20rem;
          padding: 0.5em 0em;
          border-radius: 5px;
          font-family: $raleway;
          font-weight: 500;
          font-size: 1rem;
      }
  }
  #startFormInicio {
      margin-top: 2em;
      form{
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          width: 20em;
          input{
            background-color: $blanco;
            border: 0px solid transparent;
            width: 20rem;
            padding: 0.5em 0em;
            border-radius: 5px;
            font-family: $raleway;
            font-weight: 500;
            font-size: 1rem;
            margin-bottom: 1em;  
          }
          button{
            background-color: $amarillo;
            color: $negro;
            border: 0px solid transparent;
            width: 5rem;
            padding: 0.5em 0em;
            border-radius: 5px;
            font-family: $raleway;
            font-weight: 500;
            font-size: 1rem; 
          }
      }
  }
  #notificacion {
    color: $amarillo;
    border: 0px solid transparent;
    width: 25rem;
    padding: 0.5em 0em;
    border-radius: 5px;
    font-family: $raleway;
    font-weight: 500;
    font-size: 1rem; 
    margin-top: 2em;
  }

  .negroFooter{
      background-color: $blanco;
      height: 5vh;
      margin-bottom: -10em;
  }
  .row.footer {
      margin-top: 0.5em;
      text-align: center;
      color: $negro;
      a{
          color: $amarillo;
          text-decoration: none;
          &:hover{
              border-bottom: 1px solid $blanco;
          }
      }
  }
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
    color: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
}